.containerBox {
    background-image: url(../img/officesBG.png);
}

.mainText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 6.8vw 7.2vw 5vw 6.5vw;
}

.mainText .leftBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 32%;
    position: relative;
}

.xAnimate {
    left: 2% !important;
    top: 18% !important;
}

.mainText .leftBox .use {
    background-image: url(../img/Path492.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 9%;
    font-size: 0.68vw;
    font-weight: 100;
    color: white;
    padding-left: 1.9vw;
    font-weight: 100;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
}

.mainText .leftBox .use:hover {
    cursor: pointer;
}

.mainText .leftBox .imgText {
    width: 14.12vw;
    margin: 6.6vw 0 2vw 3.5vw;
}

.mainText .leftBox .tittle {
    font-family: Silkscreen;
    font-size: 3.86vw;
    color: #FAE74C;
    margin: 0 0 4.6vw 3.3vw;
}

.mainText .leftBox .btn {
    font-family: Silkscreen;
    font-size: 2vw;
    color: #FAE74C;
    border: 1px solid #FAE74C;
    width: 97%;
    height: 4.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainText .leftBox .btn:hover {
    animation: lower 3s linear infinite;
    cursor: pointer;
}

.mainText .leftBox .num {
    width: 19vw;
    position: relative;
    left: -36%;
}


.mainText .rightBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 46.8vw;
}

.mainText .rightBox .imgBox {
    background-color: #333333;
    width: 48.6%;
    height: 24.74vw;
    margin: 0 0 1.25vw;
}

.mainText .rightBox .imgBox .caseImg {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    transition: all .5s;
}

.mainText .rightBox .imgBox:hover .caseImg {

    cursor: pointer;
    animation: left .4s ease-in-out;
    animation-fill-mode: both;
}

.mainText .rightBox .imgBox:hover {
    background-color: #FAE74C;
}

@media all and (max-width:1024px) {
    .mainText {
        padding: 8.8vw 5.2vw;
    }

    .mainText .leftBox .use {
        font-size: 1.68vw;
        padding-left: 4vw;
        font-weight: 100;
        letter-spacing: 0.2vw;
    }

    .mainText .leftBox {
        width: 43%;
    }

    .mainText .leftBox .imgText {
        width: 17.12vw;
        margin: 9.6vw 0 2vw 3.5vw;
    }

    .mainText .leftBox .tittle {
        font-size: 5.86vw;
    }

    .mainText .leftBox .btn {
        font-size: 2.8vw;
        height: 6.4vw;
    }

    .mainText .leftBox .num {
        width: 31vw;
        left: -19%;
    }
}

@media all and (max-width:320px) {
    @keyframes left {
        from {
            left: 0;
            bottom: 0;
        }

        to {
            left: 0.5vw;
            bottom: 0.5vw;
        }
    }
}
