* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mobile {
    display: none;
}

.destop {
    display: block;
}

ul li {
    list-style: none;
}

header {
    position: relative;
/*    z-index: 2;*/
}

.containerBox {
    background-image: url(../img/main_bg.png);
    transition: all 1s;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 101% 77%;
}

.moveinfo {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7vw;
    letter-spacing: 0.2vw;
    /*    animation: fade ease-in-out 6s;*/
    animation-delay: 2s;
    animation-iteration-count: 1;
    transition: all 1s;
    top: -100%;
    padding: 18% 0% 0 11%;

}

.moveinfo .resp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.moveinfo .move {
    width: 3.7vw;
    margin: 0 0 2vw;
}

.mainText {
    width: 100%;
    padding: 10vw 0 5.3vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.hoverBox {
    height: 100%;
}

.stateBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stateMobile {
    width: 70%;
    margin: 0px 3vw 0 -5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.david {
    background-image: url(../img/David.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 33.7vw;
}

.davidAnim {
    width: 100%;
    height: 100%;
    background-image: url(../img/08111.gif);
    background-size: cover;
    background-position: center;
    position: relative;
    display: none;
    cursor: pointer;
    transition: all 1s;
}

.david:hover .davidAnim {
    display: block;
    animation: stateAnim ease-in-out 2s;
}



.cleo {
    background-image: url(../img/Cleopatra1.png);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: 41% 45%;
    width: 33%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    transition: all 1.2s;
}

.cleoAnim {
    width: 100%;
    height: 100%;
    background-image: url(../img/0631.gif);
    background-size: 105%;
    background-position: 41% 45%;
    background-repeat: no-repeat;
    display: none;
    cursor: pointer;
    transition: all .6s;
}

.cleo:hover .cleoAnim {
    display: block;
    animation: stateAnim ease-in-out 2s;
}

.cleo:hover {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.state {
    width: 76%;
    background-image: url(../img/maintext.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 53% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vw 0 0;
    padding: 0 0 1.7vw;
    position: relative;
}

.state .t {
    font-size: 2.9vw;
    font-family: FuturaLT-CondensedBoldOblique;
    color: white;
    text-transform: uppercase;
}

.state .we {
    font-size: 3.13vw;
    line-height: 1.8vw;
    font-family: Silkscreen;
    color: #FAE74C;
}

.state .creative {
    font-size: 4.17vw;
    font-family: FuturaLT-CondensedBoldOblique;
    color: white;
}

.state .creative span {
    padding: 0 6.4vw;
}


@media all and (max-width:1024px) {

    .moveinfo {
        display: none;
        animation: none;

    }

    .mobile {
        display: block;
    }

    .destop {
        display: none;
    }

    .container {
        height: fit-content !important;
    }

    .mainText {
        flex-direction: column-reverse;
        align-items: center;
        padding: 8vw 2vw;
        position: relative;
    }

    .imgText {
        position: relative;
        width: 75%;
        margin: 0 0 10vw;
        z-index: 0;
    }

    .stateBox {
        justify-content: flex-end;
    }

    .david {
        width: 38%;
        height: 60vw;
        animation: david ease-in-out 1.4s;
        animation-fill-mode: forwards;
        background-position: 72%;
        background-size: 127%;
        position: absolute;
        top: 11vw;
        left: 8vw;
    }

    .cleo {
        width: 41%;
        height: 44vw;
        position: relative;
        left: -6vw;
        background-position: 41% 18%;
        animation: cleo ease-in-out 1.4s;
        animation-fill-mode: forwards;
        margin-top: 5vw;
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
        background-size: 100%;
    }

    .state {
        width: 100%;
        margin: 0vw 0 0;
        background-size: 18%;
        background-position: 52% 100%;
    }

    .stateMobile {
        margin: 0;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .davidAnim,
    .cleoAnim {
        display: none;
    }

    .state .t {
        font-size: 3.9vw;
    }

    .state .we {
        font-size: 4.5vw;
        line-height: 5vw;
    }

    .state .creative {
        font-size: 6vw;
    }

    .state .creative span {
        padding: 0 8.6vw;
    }

}
