header {
    display: flex !important;
}

body {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

header .menu li:nth-of-type(4) a {
    color: #FAE74C;
}

header .menu li:nth-of-type(4) {
    border-top: 1px solid white;
}

header .menu li:nth-of-type(4) .menuNum {
    font-size: 1.25vw;
}

.containerBox {
    background-image: url(../img/work_bg.png);
}

.xAnimate {
    left: 17%;
    top: 20%;
}

.mainText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.36vw 6.1vw 7.35vw 6.82vw;
}

.mainText .text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mainText .text .workTittle {
    font-family: Silkscreen;
    font-size: 3.86vw;
    color: #FAE74C;
    margin: 0 8.4vw 0 11vw;
}

.mainText .text .tittle {
    text-align: center;
    font-size: 0.65vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
}

.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1vw 0 0;
}

.mainText .block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.workBox {
    width: 28.4%;
    height: 12.5vw;
    display: flex;
    flex-direction: column;
    margin: 0 0 1.3vw;
    background-color: white;
    border: 0.5vw solid #FEF000;
}

.workBox:hover {
    cursor: pointer;
}

.mainText .arrBlock {
    position: relative;
    width: 8.8%;
    height: 26.5vw;
    margin: 0 6.15vw 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mainText .arrBlock:last-of-type {
    margin: 0 0 0 4.8vw;
}

.mainText .arrFlow {
    width: 44%;
    opacity: 0;
    animation: fadeArr ease-in-out 1.4s infinite;
}

.arrBlock:nth-of-type(1) .arr2,
.arrBlock:nth-of-type(1) .arr3,
.arrBlock:last-of-type .arr1,
.arrBlock:last-of-type .arr4 {
    animation-delay: .3s;
}

.arrBlock:nth-of-type(1) .arr1,
.arrBlock:nth-of-type(1) .arr4,
.arrBlock:last-of-type .arr2,
.arrBlock:last-of-type .arr3 {
    animation-delay: .7s;
}

.arrBlock:nth-of-type(1) .arr3,
.arrBlock:nth-of-type(1) .arr4,
.arrBlock:last-of-type .arr1,
.arrBlock:last-of-type .arr2 {
    transform: rotate(180deg);
}

.workBox {
    outline: none;
}

.btn,
am-animating {
    width: 28.4%;
    height: 12.5vw;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    color: black;

}

.btn,
.am-btn,
.am-animating,
.am-front {
    outline: none !important;
}

.workBox .workText {
    color: black;
    font-family: FuturaLTBold;
    font-size: 0.4vw;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    text-decoration: none;
    padding: 0.5vw 0vw 0.5vw 0.8vw;
}

.workBox .workImg {
    max-width: 100%;
    height: 86%;
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
    transition: all .5s;
}

.workBox:hover .workImg {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    cursor: pointer;
}

.work .workBox .text {
    color: #808080;
    font-size: 15px;
    display: none;
}

.textBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 2.1vw;
}

.textBox .tittle {
    font-size: 0.42vw;
    color: white;
    font-family: 'MuseoL';
    letter-spacing: 0.1vw;
    margin: 0 0.2vw 0 0;
}

.textBox .workText {
    font-size: 0.42vw;
    color: #FCEE21;
    font-family: 'MuseoL';
    letter-spacing: 0.1vw;
}

.flavor-lightbox__image {
    width: 100%;
}

.flavor-lightbox__caption {
    font-size: 1.5vw;
    color: #FCEE21;
    font-family: Silkscreen;
    margin: 0 0 1.4vw;
    letter-spacing: 0.1vw;
}

.textMain {
    color: #808080;
    font-size: 0.8vw;
    font-weight: 100;
    letter-spacing: 0.1vw;
}

@media all and (max-width:1024px) {
    .xAnimate {
        top: 14%;
        left: 7%;
    }

    .mainText .text .workTittle {
        font-size: 7.86vw;
        margin: 0 3.4vw 0 5vw;
    }

    .mainText .text .tittle {
        font-size: 2vw;
    }

    .mainText .text .imgText {
        width: 16.5%;
    }

    .mainText .text p {
        font-size: 2vw;
    }

    .mainText {
        padding: 6.36vw 2.1vw 7.35vw 1.82vw;
    }

    .work {
        width: 100%;
    }

    .work .workBox {
        width: 48%;
        height: 30.2vw;

        margin: 3.3vw 0 0;
    }

    .work .workBox .workText {
        font-size: 1.5vw;
        letter-spacing: 1px;
    }

    .am-expanded.am-modal,
    .am-expanded.am-back {
        width: 77vw;
    }

    #Box span,
    #Box .workText {
        font-size: 1.5vw;
        letter-spacing: 1px;
    }



    .flavor-lightbox__caption {
        font-size: 3.2vw;
        margin: 0 0 1.5vw;
    }

    .textMain {
        color: #808080;
        font-size: 2.3vw;
        width: 69%;
    }

    .flavor-lightbox__close {
        top: 5%;
        right: 19%;
        font-size: 3.5vw;
    }

    .work .workBox span {
        font-size: 1.5vw;
        letter-spacing: 1px;
    }

    .am-close {
        width: 4vw;
        height: 4vw;
        font-size: 4vw;
        top: -1vw;
    }
}

@media all and (max-width:768px) {
    .am-expanded.am-modal {
        left: 11%;
        margin-left: 0;
    }

}

@media all and (max-width: 425px) {


    .flavor-lightbox__close {
        top: 3%;
        font-size: 5.5vw;
    }
}

@media all and (max-width: 375px) {
    .work .workBox .workText {
        font-size: 1.3vw;
    }
}

@media all and (max-width:320px) {

    .work .workBox .workText,
    .work span {
        letter-spacing: 0.2px;
    }

    .work .textBox {
        padding: 0.7vw 1vw 0;
    }

}
